<%= link_to user_path(user), class: 'user' do %>
  <div class="photo">
    <img alt="my photo" src="<%= user.photo %>" />
  </div>

  <div class="data">
    <h2>
      <%= user.name %>
    </h2>
    <small>
      <span>Number of posts: </span>
      <%= user.posts_counter %>
    </small>
  </div>
<% end %>