<div class="users">
  <div>
    <%= render @user %>
  </div>
  <div class="user-bio">
    <h4>Bio</h4>
    <p>
      <%= @user.bio %>
    </p>
  </div>
  <div>
    <% @posts.each_with_index do |post, index| %>
      <%= render partial: "posts/post", locals: { user: @user, post: post, index: index } %>
    <% end %>
  </div>
  <button type="button">
    <%= link_to "See all posts", user_posts_path(@user) %>
  </button>
</div>
